name: Auto Create Pull Request

on:
  push:
    branches:
      - 'feature/**'
      - 'bugfix/**'
      - 'hotfix/**'

jobs:
  create-pull-request:
    runs-on: ubuntu-latest
    
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Create Pull Request
        uses: peter-evans/create-pull-request@v6
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          branch: ${{ github.ref_name }}
          base: develop
          title: '[Auto] ${{ github.ref_name }}'
          body: |
            This PR was automatically created from branch `${{ github.ref_name }}`.
            
            ## Description
            Please update this description with details about your changes.
            
            ## Changes
            - [ ] Add your changes here
            
            **Branch:** `${{ github.ref_name }}`
            **Target:** `develop`
          draft: true