name: 1 - Create Pull Request to Develop

on:
  push:
    branches:
      - 'feature/**'
      - 'bugfix/**'
      - 'hotfix/**'

permissions:
  pull-requests: write

jobs:

  collect-metadata:
    runs-on: ubuntu-latest
    env:
      GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
    outputs:
      branch-name: ${{ steps.branch.outputs.branch_name }}
      commits-text: ${{ steps.commits.outputs.commits_text }}
    steps:
      - name: Checkout Code
        uses: actions/checkout@v4

      - name: Print gh client version
        run: |
          gh --version

      - name: Print current branch name
        id: branch
        run: |
          echo $BRANCH_NAME
          BRANCH_NAME=$(git rev-parse --abbrev-ref HEAD)
          echo "name=$BRANCH_NAME" >> $GITHUB_OUTPUT

      - name: List all commits from this branch
        id: commits
        run: |
          echo "List all commits and export them"
          COMMITS="List all commits and export them"
          echo "commits_text=$COMMITS" >> $GITHUB_OUTPUT

  create-pull-request:
    runs-on: ubuntu-latest
    needs: collect-metadata
    env:
      GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
    steps:
      - name: Checkout Code
        uses: actions/checkout@v4     

      
      - name: Create PR to Develop
        run: |
          BRANCH_NAME={{needs.collect-metadata.outputs.branch-name}}
          COMMITS={{needs.collect-metadata.outputs.commits-text}}
          
          gh pr create --base develop --title "PR from $BRANCH_NAME to develop" --body "$COMMITS"