name: 1 - Create Pull Request to Develop

on:
  push:
    branches:
      - 'feature/**'
      - 'bugfix/**'
      - 'hotfix/**'

permissions:
  pull-requests: write

jobs:
  create-pull-request:
    runs-on: ubuntu-latest
    env:
      GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
    steps:
      - name: Checkout Code
        uses: actions/checkout@v4

      - name: Print gh client version
        run: |
          gh --version
      
      - name: Create from this branch to Develop
        run: |
          gh pr create --base develop --title "Automatic PR from CI to Develop" --body "Edit this body"