name: 1 - Create Pull Request to Develop

on:
  push:
    branches:
      - 'feature/**'
      - 'bugfix/**'
      - 'hotfix/**'

permissions:
  pull-requests: write

jobs:
  create-pull-request:
    runs-on: ubuntu-latest
    env:
      GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      BRANCH_NAME: ${{ github.ref }}
    steps:
      - name: Checkout Code
        uses: actions/checkout@v4

      - name: Print gh client version
        run: |
          gh --version

      - name: Print git version
        run: |
          git --version

      - name: Print current branch name
        id: branch
        run: |
          echo $BRANCH_NAME
          BRANCH_NAME=$(git rev-parse --abbrev-ref HEAD)
          echo "name=$BRANCH_NAME" >> $GITHUB_OUTPUT
      
      - name: Create PR to Develop
        run: |
          echo "EITCHA LELELELE"
          echo "${{steps.branch.outputs.name}}"
          gh pr create --base develop --title "Automatic PR from CI to Develop" --body "Edit this body"