name: Auto Create Pull Request

on:
  push:
    branches:
      - 'feature/**'
      - 'bugfix/**'
      - 'hotfix/**'

jobs:
  create-pull-request:
    runs-on: ubuntu-latest
    
    steps:
      - name: Checkout code
        # We need to fetch all history for all branches and tags
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Get list of commits
        id: get_commits
        run: |
          COMMIT_LIST=$(git log origin/develop..HEAD --pretty=format:"- %s (%h)")
          echo "commits<<EOF" >> $GITHUB_OUTPUT
          echo "$COMMIT_LIST" >> $GITHUB_OUTPUT
          echo "EOF" >> $GITHUB_OUTPUT
          
      - name: Create Pull Request
        uses: repo-sync/pull-request@v2
        id: create_pr
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          source_branch: ${{ github.ref_name }}
          destination_branch: develop
          pr_title: '[Draft] PR from branch ${{ github.ref_name }} -> develop'
          pr_body: |
            This PR was automatically created from branch `${{ github.ref_name }}`.
            
            ## Description
            Please update this description with details about your changes.
            
            ## Commits / Changes
            ${{ steps.get_commits.outputs.commits }}
            
            **Branch:** `${{ github.ref_name }}`
            **Target:** `develop`
            **Author:** @${{ github.actor }}
          pr_draft: true
          pr_allow_empty: false