name: 1 - Create Pull Request to Develop

on:
  push:
    branches:
      - 'feature/**'
      - 'bugfix/**'
      - 'hotfix/**'

permissions:
  pull-requests: write

jobs:
  create-pull-request:
    runs-on: ubuntu-latest
    env:
      GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
    steps:
      - name: Checkout Code
        uses: actions/checkout@v4

      - name: Print gh client version
        run: |
          gh --version

      - name: Print git version
        run: |
          git --version

      - name: Print current branch name
        run: |
          BRANCH_NAME=$(git rev-parse --abbrev-ref HEAD)
          echo $BRANCH_NAME
      
      - name: Create PR to Develop
        run: |
          echo "EITCHA LELELELE"
          echo $BRANCH_NAME
          gh pr create --base develop --title "Automatic PR from CI to Develop" --body "Edit this body"