name: 1 - Create Pull Request to Develop

on:
  push:
    branches:
      - 'feature/**'
      - 'bugfix/**'
      - 'hotfix/**'

permissions:
  pull-requests: write

jobs:

  collect-metadata:
    runs-on: ubuntu-latest
    env:
      GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
    outputs:
      branch-name: ${{ steps.branch.outputs.name }}
      commits-text: ${{ steps.commits.outputs.commits_text }}
    steps:
      - name: Checkout Code
        uses: actions/checkout@v4

      - name: Print gh client version
        run: |
          gh --version

      - name: Print current branch name
        id: branch
        run: |
          echo $BRANCH_NAME
          BRANCH_NAME=$(git rev-parse --abbrev-ref HEAD)
          echo "name=$BRANCH_NAME" >> $GITHUB_OUTPUT

      - name: Fetch Repo Name
        id: repo
        run: |
          echo $GITHUB_REPOSITORY

      - name: List all commits from this branch
        id: commits
        run: |
          echo "List all commits and export them"
          HEAD="<h3>This PR contains the following</h3>"
          FEATS="<p>**feats**</p>"
          
          #BUILDS="<p>**builds**</p>"
          #BUILDS_CONTENT=$(gh search commits --repo="$GITHUB_REPOSITORY" "build: " --json commit --jq .[].commit.message)
          
          #FIXES="<p>**fixes**</p>"
          #FIXES_CONTENT=$(gh search commits --repo="$GITHUB_REPOSITORY" "fix: " --json commit --jq .[].commit.message)

          #FULL_CONTENT="$HEAD $FEATS$FEATS_CONTENT <br/> $BUILDS$BUILDS_CONTENT <br/> $FIXES$FIXES_CONTENT"
          COMMITS="put everything here..."
          echo "commits_text=$COMMITS" >> $GITHUB_OUTPUT

  create-pull-request:
    runs-on: ubuntu-latest
    needs: collect-metadata
    env:
      GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      BRANCH_NAME: ${{needs.collect-metadata.outputs.branch-name}}
      COMMITS: ${{needs.collect-metadata.outputs.commits-text}}
    steps:
      - name: Checkout Code
        uses: actions/checkout@v4     

      - name: Create PR to Develop
        run: |         
          gh pr create --base develop --title "PR from $BRANCH_NAME to develop" --body "$COMMITS"